.container{
    
    width: 500px;
    height: 500px;
    border: 1px solid #000;
    margin: auto;
    margin-top: 50px;
}

.card__title{
    border: 1px solid #000;
}

.card__title h1{
    text-align: center;
}

/*.card__img{
    margin: auto;
}*/

.card__parragh p{
    text-align: center;
}